body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px;
  Margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #0F2962; } }

table.body {
  background: #0F2962;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 80px;
  padding-bottom: 16px; }
  th.columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 80px; }

th.columns table:not(.button) {
  width: 100%; }

th.large-1 {
  width: -23.33333px;
  padding-left: 40px;
  padding-right: 40px; }

th.large-1.first {
  padding-left: 80px; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-3 {
  width: 90px;
  padding-left: 40px;
  padding-right: 40px; }

th.large-3.first {
  padding-left: 80px; }

th.large-3.last {
  padding-right: 80px; }

.body .columns th.large-3 {
  width: 25%; }

th.large-4 {
  width: 146.66667px;
  padding-left: 40px;
  padding-right: 40px; }

th.large-4.first {
  padding-left: 80px; }

th.large-4.last {
  padding-right: 80px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-6 {
  width: 260px;
  padding-left: 40px;
  padding-right: 40px; }

th.large-6.first {
  padding-left: 80px; }

th.large-6.last {
  padding-right: 80px; }

.body .columns th.large-6 {
  width: 50%; }

th.large-7 {
  width: 316.66667px;
  padding-left: 40px;
  padding-right: 40px; }

.body .columns th.large-7 {
  width: 58.33333%; }

th.large-12 {
  width: 600px;
  padding-left: 40px;
  padding-right: 40px; }

th.large-12.first {
  padding-left: 80px; }

th.large-12.last {
  padding-right: 80px; }

th.large-offset-4,
th.large-offset-4.last {
  padding-left: 306.66667px; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

th.text-center,
p.text-center {
  text-align: center; }

p.text-right {
  text-align: right; }

@media only screen and (max-width: 760px) {
  .small-text-center {
    text-align: center !important; }
  .small-text-right {
    text-align: right !important; } }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h2,
h3,
p,
td,
th,
a {
  color: #FFFFF8;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h2,
h3 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 28px; }

body,
table.body,
p,
td,
th {
  font-size: 14px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #27B3E0;
  text-decoration: none; }
  a:hover {
    color: #1b93b9; }
  a:active {
    color: #1b93b9; }
  a:visited {
    color: #27B3E0; }

h2 a,
h2 a:visited {
  color: #27B3E0; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #0F2962;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 760px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 80px !important;
    padding-right: 80px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-2 {
    display: inline-block !important;
    width: 16.66667% !important; }
  th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-10 {
    display: inline-block !important;
    width: 83.33333% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

/*Custom Styles*/
.logo-uddtec {
  display: inline-block;
  margin: 0 auto !important;
  max-width: 250px; }

.logo-udd {
  display: inline-block;
  max-width: 244px; }

.logo-gore {
  display: inline-block;
  max-width: 34px; }

.cont-logos {
  padding: 32px 16px !important;
  width: 100%; }
  .cont-logos img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: inline-block; }
  .cont-logos th.columns {
    padding-bottom: 0; }
  .cont-logos th {
    text-align: center; }

.cont-header {
  background-image: url("https://uddtec-newsletter.netlify.com/assets/img/bkg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #172E5B;
  height: 60px;
  padding-top: 38px; }
  .cont-header .mensaje-uddtec {
    color: #999;
    font-size: 12px;
    text-align: center; }
  .cont-header * {
    padding-bottom: 0 !important; }

a {
  border: none; }

.noticia-principal {
  padding-bottom: 0; }
  .noticia-principal h2 {
    font-weight: bold;
    font-size: 24px;
    color: #666;
    margin: 24px 0 8px; }
  .noticia-principal p {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.3; }
  .noticia-principal hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #DDD; }
  .noticia-principal img {
    width: 100%;
    height: auto; }

.noticias-secundaria {
  font-size: 11px; }
  .noticias-secundaria:first-child {
    padding-right: 8px !important; }
  .noticias-secundaria:last-child {
    padding-left: 8px !important; }
  .noticias-secundaria:nth-of-type(2n) {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 0;
    padding-bottom: 0; }
  .noticias-secundaria img {
    margin-bottom: 8px;
    width: 100%;
    height: auto; }
  .noticias-secundaria a {
    line-height: 1.4; }

.subtitulo {
  font-size: 18px;
  color: #666;
  margin: 0;
  font-weight: bold; }

.texto-footer {
  color: #ffffff78;
  font-size: 12px;
  margin-top: 10px !important;
  margin-left: 10px !important; }

.footer {
  padding-bottom: 0 !important; }
  .footer img {
    display: inline-block; }
  .footer hr {
    height: 1px;
    border: none;
    border-top: 3px solid #333;
    margin-top: 16px;
    margin-bottom: 16px; }
  .footer p {
    margin: 0; }

@media screen and (min-width: 992px) {
  table.body {
    background-image: url("https://uddtec-newsletter.netlify.com/assets/img/bkg.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top center !important; }
  .cont-header {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media screen and (max-width: 991px) {
  .logo-uddtec {
    margin: 0 auto; }
  th.columns.last {
    padding-right: 32px !important; }
  th.columns {
    padding-left: 32px !important; }
  th.large-4.first {
    padding-left: 32px !important; }
  table.body .columns {
    padding-left: 32px !important; }
  table.body .columns {
    padding-right: 32px !important; }
  .cont-logo-uddtec {
    text-align: center; } }

@media only screen and (max-width: 760px) {
  .logo-uddtec {
    max-width: 300px; }
  .logo-udd {
    margin-right: 16px; }
  .logo-gore {
    margin-left: 16px; }
  .noticia-principal img, .noticias-secundaria img {
    width: 100% !important;
    height: auto !important; }
  .noticias-secundaria a {
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
    text-align: center;
    font-size: 16px; }
  .cont-logos {
    padding-bottom: 0 !important; }
    .cont-logos img {
      margin-bottom: 24px; } }
